[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rrdap"]
	path = Rrdap
	url = https://github.com/cran/Rrdap
[submodule "Rsgf"]
	path = Rsgf
	url = https://github.com/cran/Rsgf
[submodule "Rwhois"]
	path = Rwhois
	url = https://github.com/cran/Rwhois
